# Dependencies
node_modules

# Build
dist
dist-ssr

# Env & secrets
*.local
.env
*.pem

# Agent logs
agent/logs/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*

# Local Netlify folder
.netlify
